@model IEnumerable<NorthwestLabs.Models.Compound_Samples>

@{
    ViewBag.Title = "Compounds";
}

<h2>Compound Samples</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assay_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Arrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Processed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compound_Weight_Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compound_Appearance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Molecular_Mass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Arrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Processed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compound_Weight_Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compound_Appearance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Molecular_Mass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LT_Number })
            
        </td>
    </tr>
}

</table>
