@model IEnumerable<NorthwestLabs.Models.WorkOrders>

@{
    ViewBag.Title = "WorkOrders";
}

<h2>Work Orders</h2>

<p>
    @Html.ActionLink("Create New", "CreateWO")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WO_Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expedite_Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test2_IfActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test2_IfInactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Analysis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Analysis_Completed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_ID)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Date_Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Completed)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Order_Status)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.WO_Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expedite_Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test2_IfActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test2_IfInactive)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Analysis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Analysis_Completed)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditWO", new { id=item.Order_ID })
        </td>
    </tr>
}

</table>
