<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .fixed-bottom {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
            margin-bottom: 0;
        }
    </style>
</head>
<body class="myBody">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/Pictures/northwestlabs.png" width="180" height="50" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Catalog", "Home")">Catalogs</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="font-size: 14px">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" style="font-size: 14px">Search</button>
            </form>
            <div class="dropdown">
                <img src="~/Content/Pictures/personSilhouette.jpg" />
                <div class="dropdown-content">
                    <a style="text-decoration:none; font-size: 16px;" href="@Url.Action("Login", "Home")">Sign In</a><br /><br />
                    <a style="text-decoration:none; font-size: 16px;" href="@Url.Action("CreateCustomer", "Home")">Create Account</a>

                </div>
            </div>

            <!--<ul class="navbar-nav navbar-right">
                <a class="nav-item  nav-link" href="">Sign In</a>
                <a class="nav-item  nav-link" href="">| Create Account</a>
            </ul>
                -->


        </div>
    </nav>

    <div class="container body-content myBody ">
        @RenderBody()
        <br />
        <br />
        <br /><br />

        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
            <a class="navbar-brand" href="#">&copy; @DateTime.Now.Year - Northwest Labs</a>
        </nav>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>